<!DOCTYPE html>
<html lang="en">
<head>
	<title> Contact Me App</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>				 
<div class="jumbotron">
            <h1>Contact Me!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>How to use:</h4>
                <p>Use this contact form to ask me questions, suggest ideas, or whatever you want. </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Kristen Huber 2016</p>
        </footer>
 
    </div>
</body>
 
</html> 
